In [110]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
import pandas as pd

In [111]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [112]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [113]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
#prev_june = dt.date(2017, 7, 1) -  dt.timedelta(days=30)
prev_june =session.query(Measurement.date).filter(extract('month', Measurement.date)==6).all()

In [114]:
#inspector = inspect(engine)
#inspector.get_table_names()

In [115]:
#columns = inspector.get_columns(measurement)
#for columns in columns:
#    print(column)

In [116]:
type(Measurement)

sqlalchemy.orm.decl_api.DeclarativeMeta

In [117]:
#  3. Convert the June temperatures to a list.
june_temp_results = []
june_temp_results = session.query(Measurement.date, Measurement.tobs).filter(extract('year', Measurement.date)==2016).filter(extract('month', Measurement.date)==6).all()

In [118]:
type(june_temp_results)

list

In [119]:
june_temp_results

[('2016-06-01', 76.0),
 ('2016-06-02', 71.0),
 ('2016-06-03', 71.0),
 ('2016-06-04', 74.0),
 ('2016-06-05', 76.0),
 ('2016-06-06', 78.0),
 ('2016-06-07', 77.0),
 ('2016-06-08', 77.0),
 ('2016-06-09', 73.0),
 ('2016-06-10', 77.0),
 ('2016-06-11', 78.0),
 ('2016-06-12', 78.0),
 ('2016-06-13', 80.0),
 ('2016-06-14', 79.0),
 ('2016-06-15', 78.0),
 ('2016-06-16', 77.0),
 ('2016-06-17', 76.0),
 ('2016-06-18', 77.0),
 ('2016-06-19', 77.0),
 ('2016-06-20', 78.0),
 ('2016-06-21', 80.0),
 ('2016-06-22', 79.0),
 ('2016-06-23', 79.0),
 ('2016-06-24', 77.0),
 ('2016-06-25', 78.0),
 ('2016-06-26', 79.0),
 ('2016-06-27', 80.0),
 ('2016-06-28', 76.0),
 ('2016-06-29', 79.0),
 ('2016-06-30', 80.0),
 ('2016-06-01', 70.0),
 ('2016-06-02', 69.0),
 ('2016-06-03', 70.0),
 ('2016-06-04', 68.0),
 ('2016-06-05', 70.0),
 ('2016-06-06', 74.0),
 ('2016-06-07', 75.0),
 ('2016-06-08', 74.0),
 ('2016-06-09', 71.0),
 ('2016-06-10', 73.0),
 ('2016-06-11', 75.0),
 ('2016-06-12', 74.0),
 ('2016-06-13', 76.0),
 ('2016-06-14', 76.0),
 ('2016-06-15', 76.0),
 ('2016-06-16', 76.0),
 ('2016-06-17', 75.0),
 ('2016-06-18', 75.0),
 ('2016-06-19', 75.0),
 ('2016-06-20', 74.0),
 ('2016-06-21', 73.0),
 ('2016-06-22', 76.0),
 ('2016-06-23', 74.0),
 ('2016-06-24', 78.0),
 ('2016-06-25', 71.0),
 ('2016-06-26', 75.0),
 ('2016-06-27', 75.0),
 ('2016-06-28', 74.0),
 ('2016-06-29', 77.0),
 ('2016-06-30', 77.0),
 ('2016-06-01', 71.0),
 ('2016-06-02', 74.0),
 ('2016-06-03', 75.0),
 ('2016-06-07', 75.0),
 ('2016-06-08', 74.0),
 ('2016-06-09', 76.0),
 ('2016-06-10', 75.0),
 ('2016-06-11', 77.0),
 ('2016-06-12', 77.0),
 ('2016-06-13', 79.0),
 ('2016-06-14', 79.0),
 ('2016-06-15', 78.0),
 ('2016-06-16', 79.0),
 ('2016-06-17', 73.0),
 ('2016-06-18', 78.0),
 ('2016-06-19', 79.0),
 ('2016-06-20', 80.0),
 ('2016-06-21', 76.0),
 ('2016-06-22', 79.0),
 ('2016-06-23', 79.0),
 ('2016-06-24', 77.0),
 ('2016-06-25', 80.0),
 ('2016-06-26', 79.0),
 ('2016-06-27', 78.0),
 ('2016-06-28', 78.0),
 ('2016-06-29', 79.0),
 ('2016-06-30', 78.0),
 ('2016-06-01', 64.0),
 ('2016-06-02', 65.0),
 ('2016-06-03', 75.0),
 ('2016-06-06', 76.0),
 ('2016-06-07', 78.0),
 ('2016-06-08', 77.0),
 ('2016-06-09', 75.0),
 ('2016-06-13', 78.0),
 ('2016-06-14', 81.0),
 ('2016-06-15', 78.0),
 ('2016-06-16', 76.0),
 ('2016-06-17', 73.0),
 ('2016-06-20', 74.0),
 ('2016-06-21', 76.0),
 ('2016-06-22', 78.0),
 ('2016-06-23', 79.0),
 ('2016-06-24', 78.0),
 ('2016-06-27', 72.0),
 ('2016-06-28', 78.0),
 ('2016-06-29', 80.0),
 ('2016-06-30', 81.0),
 ('2016-06-01', 75.0),
 ('2016-06-02', 75.0),
 ('2016-06-03', 75.0),
 ('2016-06-04', 75.0),
 ('2016-06-05', 73.0),
 ('2016-06-06', 78.0),
 ('2016-06-07', 77.0),
 ('2016-06-08', 80.0),
 ('2016-06-09', 72.0),
 ('2016-06-10', 78.0),
 ('2016-06-11', 78.0),
 ('2016-06-12', 77.0),
 ('2016-06-13', 78.0),
 ('2016-06-14', 79.0),
 ('2016-06-15', 80.0),
 ('2016-06-17', 76.0),
 ('2016-06-18', 77.0),
 ('2016-06-19', 79.0),
 ('2016-06-20', 79.0),
 ('2016-06-21', 77.0),
 ('2016-06-22', 79.0),
 ('2016-06-23', 80.0),
 ('2016-06-24', 80.0),
 ('2016-06-25', 77.0),
 ('2016-06-26', 79.0),
 ('2016-06-27', 81.0),
 ('2016-06-28', 78.0),
 ('2016-06-29', 80.0),
 ('2016-06-30', 79.0),
 ('2016-06-01', 69.0),
 ('2016-06-02', 67.0),
 ('2016-06-03', 68.0),
 ('2016-06-04', 65.0),
 ('2016-06-05', 70.0),
 ('2016-06-06', 72.0),
 ('2016-06-07', 74.0),
 ('2016-06-08', 73.0),
 ('2016-06-09', 71.0),
 ('2016-06-10', 75.0),
 ('2016-06-11', 72.0),
 ('2016-06-12', 75.0),
 ('2016-06-13', 76.0),
 ('2016-06-14', 75.0),
 ('2016-06-15', 76.0),
 ('2016-06-16', 75.0),
 ('2016-06-17', 71.0),
 ('2016-06-18', 75.0),
 ('2016-06-19', 75.0),
 ('2016-06-20', 72.0),
 ('2016-06-21', 72.0),
 ('2016-06-22', 75.0),
 ('2016-06-23', 73.0),
 ('2016-06-24', 76.0),
 ('2016-06-25', 74.0),
 ('2016-06-26', 77.0),
 ('2016-06-27', 72.0),
 ('2016-06-28', 71.0),
 ('2016-06-29', 76.0),
 ('2016-06-30', 77.0),
 ('2016-06-01', 70.0),
 ('2016-06-02', 71.0),
 ('2016-06-03', 70.0),
 ('2016-06-05', 73.0),
 ('2016-06-06', 72.0),
 ('2016-06-07', 71.0),
 ('2016-06-08', 71.0),
 ('2016-06-09', 69.0),
 ('2016-06-10', 70.0),
 ('2016-06-11', 73.0),
 ('2016-06-12', 75.0),
 ('2016-06-13', 73.0),
 ('2016-06-14', 72.0),
 ('2016-06-15', 70.0),
 ('2016-06-16', 70.0),
 ('2016-06-17', 69.0),
 ('2016-06-18', 73.0),
 ('2016-06-19', 74.0),
 ('2016-06-20', 72.0),
 ('2016-06-21', 71.0),
 ('2016-06-22', 73.0),
 ('2016-06-23', 72.0),
 ('2016-06-25', 73.0),
 ('2016-06-26', 74.0),
 ('2016-06-27', 72.0),
 ('2016-06-28', 74.0),
 ('2016-06-29', 72.0)]

In [121]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(june_temp_results, columns=['date','temperatures'])

In [124]:
june_temp_df.describe()

       temperatures
count    194.000000
mean      75.175258
std        3.421996
min       64.000000
25%       73.000000
50%       75.500000
75%       78.000000
max       81.000000

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.